[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = git://github.com/jondistad/vimclojure.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
