set ignorecase
set smartcase
set incsearch
set gdefault
set relativenumber

set clipboard+=unnamedplus

" Map leader to comma
let mapleader=","

" built in search looks better
nnoremap <leader>/ :action Find<cr>
" but preserve ideavim search

" IDE actions
nnoremap <leader>f :action ReformatCode<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <space> :

set ideajoin
set easymotion

